body {
    font-family: 'Lato', sans-serif;
    color: #2d3436;
    background-color: #f8f8f9;

  }

.resume{
    width: 600px;
    margin: auto;
    padding: 5px;
    border: 1px solid #eaeaea;
}

form {
  border: 1px solid #eaeaea;
  padding: 5px;
}

img {
    width: 150px;
    height: 225;
    display: inline-block;
    border-radius: 5px;
}

.first-p{
  margin-top: 0;
}

.first-info{
    margin-left: 20px;
    vertical-align: top;
    display: inline-block;
    padding: 0px;
}

.first-info-photo {
  padding: 0px;
}

.repository-link{
  text-decoration: unset;
  color: #636e72;
}

.repository-link:hover{
  color: #d63031;
}

input[type="text"],
input[type="date"],
input[type="number"],
button,
select {
  font-size: 14px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #dfe6e9;
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input[type="text"]:hover,
input[type="date"]:hover,
input[type="number"]:hover {
background-color: #b2bec3;
}

.fa-calendar-alt{
  margin-left: 5px;
}

.subtitle{
  font-size: 16px;
  font-weight:bold;
  padding: 5px;
}

.group {
  display: block;
  font-size: 16px;
  padding-bottom: 8px;
}

button[type = "submit"]{
  display: block;
  margin: auto;
  margin-top: 15px;
}

.education {
  margin: auto;
  border-collapse: collapse;
  background-color: white;
}

.education td,
.education th{
  padding: 5px;
  border-top: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 255, 255);
  text-align: center;
}

.education thead tr {
  background-color: #636e72;
}

.education tbody tr:nth-child(2n) {
  background-color: #dfe6e9;
}

.education tbody tr:hover {
  background-color: #b2bec3;
}

input:focus,
button:focus,
select{
  outline: none;
}

button{
  border: 1px dashed #636e72;
  background: linear-gradient(45deg,#b2bec3,#dfe6e9);
  padding: 5px 15px;
  box-shadow: 0 0 5px 2px;
}

button:hover{
  opacity: 0.8;
}